<p class="font-bold text-6xl">Sửa Danh Mục</p>
<form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
  <input
    class="pl"
    type="text"
    placeholder="Title"
    formControlName="title"
  />
  <div
    *ngIf="
      categoryForm['controls']['title'].dirty &&
      categoryForm['controls']['title'].errors
    "
  >
    <small
      class="text-red-600 font-medium text-sm"
      *ngIf="categoryForm['controls']['title'].errors['required']"
      >Tên không để trống</small
    >
  </div>
  <button
  class="button"
    (click)="refresh()"
    [disabled]="categoryForm.invalid"
    type="submit"
  >
    Sửa
  </button>
</form>
