<app-header></app-header>

<input type="search" [(ngModel)]="searchText" placeholder="Tìm kiếm...." />
<div class="ml-52">
  <h1 class="font-bold text-4xl"> Danh sách sản phẩm</h1>
  <div class="dm">
  <div class="student relative flex float-left pr-20">
    <table class="bg-orange-50 table-auto border w-full my-2 text-center  ">
      <thead>
        <tr>
          <th class=" p-5 border-2 border-red-100 text-xl ... ">ID</th>
          <th class=" p-5 border-2 border-red-100 text-xl ... ">Title</th>
          <th class=" p-5 border-2 border-red-100 text-xl ... ">Price</th>
          <th class=" p-5 border-2 border-red-100 text-xl ... ">Description</th>
          <th class=" p-5 border-2 border-red-100 text-xl ... ">Category</th>
          <th class=" p-5 border-2 border-red-100 text-xl ... ">Action</th>
        </tr>
      </thead>

      @for (student of productData | filter: searchText; track student) {
      <tbody>
        <tr>
          <td class=" p-5 border-2 border-red-100 text-xl ... ">{{ student.id }}</td>
          <td class=" p-5 border-2 border-red-100 text-xl ... ">{{ student.title }}</td>
          <td class=" p-5 border-2 border-red-100 text-xl ... ">{{ student.price }}</td>
          <td class=" p-5 border-2 border-red-100 text-xl ... ">{{ student.description }}</td>
          <td class=" p-5 border-2 border-red-100 text-xl ... ">{{ student.category }}</td>
          <th class=" p-5 border-2 border-red-100 text-xl ... ">
            <a href="admin/edit/{{ student.id }}">
              <button
                class="button"
              >
                Sửa
              </button>
            </a>
            <button
              class="button"
              (click)="onDel(student.id)"
              (click)="refresh()"
            >
              Xóa
            </button>
          </th>
        </tr>
      </tbody>
      }
    </table>
  </div>
</div>
  <div class="">
    <h1 class="font-bold text-4xl"> Danh sách danh mục</h1>
    <table  class="bg-orange-50 table-auto border  my-2 text-center ">
      <thead>
        <tr>
          <th class=" p-5 border-2 border-red-100 text-xl ... ">ID</th>
          <th class=" p-5 border-2 border-red-100 text-xl ... ">Category</th>
          <th class=" p-5 border-2 border-red-100 text-xl ... ">Action</th>
        </tr>
      </thead>
      @for(category of categoryData; track category){
      <tbody>
        <tr>
          <td class=" p-5 border-2 border-red-100 text-xl ... ">{{ category.id }}</td>
          <td class=" p-5 border-2 border-red-100 text-xl ... ">{{ category.title }}</td>
          <td class=" p-5 border-2 border-red-100 text-xl ... ">
            <a href="admin/categories/{{ category.id }}">
              <button
                class="button"
              >
                Sửa
              </button>
            </a>
            <button
              class="button"
              (click)="onDelCate(category.id)"
              (click)="refresh()"
            >
              Xóa
            </button>
          </td>
        </tr>
      </tbody>
      }
    </table>
  </div>
</div>


<button
  (click)="removeToken()"
  type="button"
  class="text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
>
  Log out
</button>
<a href="admin/add"
  ><button class="button">
    Thêm sản phẩm
  </button></a
>
<a href="admin/categories"
  ><button class="button">
    Thêm danh mục
  </button></a
>
<!-- <button class="" (click)="removeToken()">Log out</button> -->
<router-outlet></router-outlet><br><br><br><br><br>
<app-footer></app-footer>
