<h1 class="font-bold text-4xl">Thêm sản phẩm</h1>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div>
    <input
      class="pl"
      type="text"
      placeholder="Title"
      formControlName="title"
    />
    <div
      *ngIf="
        productForm['controls']['title'].dirty &&
        productForm['controls']['title'].errors
      "
    >
      <small
        class="text-red-600 font-medium text-sm"
        *ngIf="productForm['controls']['title'].errors['required']"
        >Tên không để trống</small
      >
      <small
        class="text-red-600 font-medium text-sm"
        *ngIf="productForm['controls']['title'].errors['minlength']"
        >> 6 kí tự</small
      >
    </div>
  </div>
  <div>
    <input
      class="pl"
      type="number"
      placeholder="price"
      formControlName="price"
    />
    <div
      *ngIf="
        productForm['controls']['price'].dirty &&
        productForm['controls']['price'].errors
      "
    >
      <small
        class="text-red-600 font-medium text-sm"
        *ngIf="productForm['controls']['price'].errors['min']"
        >Giá phải lớn hơn 0</small
      >
    </div>
  </div>
  <div>
    <input
      class="pl"
      type="text"
      placeholder="Description"
      formControlName="description"
    />
    <div
      *ngIf="
        productForm['controls']['description'].dirty &&
        productForm['controls']['description'].errors
      "
    >
      <small
        class="text-red-600 font-medium text-sm"
        *ngIf="productForm['controls']['description'].errors['required']"
        >Cần có thêm mô tả</small
      >
    </div>
  </div>
  <div>
    <input
      class="pl"
      type="text"
      placeholder="IMG"
      formControlName="img"
    />
  </div>
  <div>
    <select formControlName="category" name="" id="">
      @for(category of categoryData; track category){
      <option value="{{ category.id }}">{{ category.title }}</option>
      }
    </select>
  </div>

  <button
    class="button"
    (click)="refresh()"
    [disabled]="productForm.invalid"
    type="submit"
  >
    Thêm
  </button>
</form>
