
.pl {
    padding: 6px 15px;
   border: 1px solid rgb(245, 211, 211);
    background-color: rgb(255 251 235);
    margin: 3px;
    

}
.button {
    margin-top: 5px;
    display: inline-block; 
     padding: 8px 13px; 
      font-size: 18px; 
       cursor: pointer; 
        text-align: center; 
         text-decoration: none;
          outline: none;
            color: #fff;
            background-color: rgb(238, 170, 92);
                  border-radius: 15px;
                    box-shadow: 0 5px #b5b4b4;
}
.button:hover {
  background-color:  rgb(216, 129, 30)
}
.button:active {
      background-color:  rgb(217 119 6);
        box-shadow: 0 5px #989797;
          transform: translateY(4px);
          }
          .container {
            width: 80%;
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
            margin: auto;
        }

        


        
